/* Container */
.home {
  width: 100%;
  margin-top: 100px; 
}

.mySwiper {
  width: 100%;
  height: 500px; 
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  
}


.slide {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 12px;
}

.overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 12px 20px;
  border-radius: 8px;
  max-width: 80%;
  text-align: center;
}

.overlay p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  transition: color 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #05ee19; /* green hover */
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #05ee19;
}
